# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env

# Uploaded Resumes
uploads/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/
.notes